
<%@scraping_item.each do|element|%>
 <p><%= element.brandname %></p>
 <p><%= element.category %></p>
 <p><%= element.itemname %></p>
 <p><%= element.price %></p>
 <p><%= element.color %></p>
 <p><%= element.image_url %></p>

<%end%>
#画像の表示
<div>
<img src=<%=@image_path %> >
</div>
